
<!-- <app-update-address></app-update-address> -->
<!-- <app-addpersonalinfo></app-addpersonalinfo> -->
<!-- <app-editpersonalinfo></app-editpersonalinfo> -->
<!-- <app-allpersonalinfo></app-allpersonalinfo> -->
<app-removepersonalinfo></app-removepersonalinfo>
<!-- <app-update-address></app-update-address> -->
<!-- <app-add-address></app-add-address> -->
<!-- <a [routerLink]="['authentication']" > Auth </a> -->
<!-- <app-create-account></app-create-account> -->

<!-- <app-details></app-details> -->

