<app-getpersonalinfo [personalInfoId]="personalInfoId" (sendPersonalInfo)="receivePersonalInfo($event)" hidden></app-getpersonalinfo>
<div *ngIf="personalInfo">
    <div class="container">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>first Name</th>
              <td><input type="text" [(ngModel)]="personalInfo.firstName" class="form-control"></td>
            </tr>
            <tr>
              <th>last Name</th>
              <td><input type="text" [(ngModel)]="personalInfo.lastName" class="form-control"></td>
            </tr>
            <tr>
              <th>Contact Number</th>
              <td><input type="text" [(ngModel)]="personalInfo.aadharId" class="form-control"></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><input type="text" [(ngModel)]="personalInfo.birthDate" class="form-control"></td>
            </tr>
            <tr>
              <th>Address</th>
              <td><input type="text" [(ngModel)]="personalInfo.gender" class="form-control"></td>
            </tr>
            <tr>
              <th>City</th>
              <td><input type="text" [(ngModel)]="personalInfo.email" class="form-control"></td>
            </tr>
            <tr>
              <th>State</th>
              <td><input type="text" [(ngModel)]="personalInfo.contactNumber" class="form-control"></td>
            </tr>
          </tbody>
        </table>
        <div class="d-grid gap-2">
          <button class="btn btn-success" (click)="updatePersonalInfo()">Update</button>
        </div>
      </div>  
    </div>
